<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamesite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">
  </head>
<body>
    

<div class="container">

<a href="{{ url_for('game_page') }}">
  <button>Play game</button>
</a>
</div>

<div class="boxes">
    <!-- Card 1 -->
    <div class="card">
        <div class="card-img">
            <img src="/static/images/SSDicon.png" alt="">
        </div>
        <div class="card-title">{{ items[0][1] }}</div> <!-- Name from DB -->
        <div class="card-subtitle">One in the pack.</div>
        <hr class="card-divider">
        <div class="card-footer">
            <div class="card-price"><span>kr</span> {{ "%.2f"|format(items[0][2]) }}</div> <!-- Price from DB -->
            <button class="card-btn">
                <!-- SVG here -->
            </button>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
        <div class="card-img">
            <img src="/static/images/SSDicon.png" alt="">
        </div>
        <div class="card-title">{{ items[1][1] }}</div>
        <div class="card-subtitle">Two in the pack.</div>
        <hr class="card-divider">
        <div class="card-footer">
            <div class="card-price"><span>kr</span> {{ "%.2f"|format(items[1][2]) }}</div>
            <button class="card-btn">
                <!-- SVG here -->
            </button>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
        <div class="card-img">
            <img src="/static/images/SSDicon.png" alt="">
        </div>
        <div class="card-title">{{ items[2][1] }}</div>
        <div class="card-subtitle">Three in the pack.</div>
        <hr class="card-divider">
        <div class="card-footer">
            <div class="card-price"><span>kr</span> {{ "%.2f"|format(items[2][2]) }}</div>
            <button class="card-btn">
                <!-- SVG here -->
            </button>
        </div>
    </div>
</div>



</body>
</html>