<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamesite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">
  </head>
<body>
    

<!-- From Uiverse.io by csemszepp --> 
<div class="container">
<a href="VerticalPlatformer/VerticalPlatformer.html">
  <button>Play game</button>
</a>
<a href="{{ url_for('platformer') }}">
  <button>Play game</button>
</a>
    <!-- From Uiverse.io by nikk7007 --> 

</div>





</body>
</html>