*{
    margin: 0;
    padding: 0;

}



/* From Uiverse.io by csemszepp */ 
.container {
  width: 100%;
  height: 35vh;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}


.container button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 35px;
  font-size: 1.4rem;
  color: white;
  background-color: #626366;
  border: white solid 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container button:hover {
  background-color: #3c3c3c;
}


